@model string;

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <a asp-controller="@Model" asp-action="Create"
       class="btn btn--rectangle btn--secondary btn--big list__add">
        <svg>
            <use xlink:href="/img/sprite.svg#icon-plus"></use>
        </svg>
        Add new
    </a>
}
