<div class="message">
    <div class="message__container">
        <h1 class="heading-secondary message__title text-red">The page was not found:(</h1>
        <div class="message__btns">
            <a asp-controller="Movies" asp-action="Index"
               class="btn btn--medium btn--rectangle btn--secondary details__btn">
                Go to main page
            </a>
        </div>
    </div>
</div>
