<div class="message--gradient">
    <div class="message__container message__container--gradient">
        <h1 class="heading-secondary message__title--gradient">
            Order Completed Successfully
        </h1>
        <p class="message__comment">You can see your orders in the orders section of your profile</p>
        <p class="message__comment">Thank you!</p>
    </div>
</div>