@model NewMovieVM

@{
    ViewData["Title"] = "Add A New Movie";
}

<div class="add-new">
    <div class="add-new__container">
        <form asp-action="Create" class="form form--management">
            <h2 class="heading-secondary add-new__title">Add A New Movie</h2>

            <div class="form__group">
                <label asp-for="ImageUrl" for="poster" class="form__label"></label>
                <input type="text"
                       class="form__input"
                       placeholder="Poster URL"
                       asp-for="ImageUrl"
                       id="poster"
                       required />
            </div>

            <div class="form__group">
                <img id="preview"
                     src="#"
                     alt="preview"
                     onerror="this.src='https://i.ibb.co/z7KVHwn/question.jpg'"
                     class="form__picture-preview form__picture-preview--poster" />
            </div>

            <div class="form__group">
                <label asp-for="Name" for="movie-name" class="form__label"></label>
                <input type="text"
                       class="form__input"
                       placeholder="Movie Name"
                       asp-for="Name"
                       id="movie-name"
                       required />
            </div>

            <div class="form__group-box">
                <div class="form__group">
                    <label asp-for="StartDate" for="start-date" class="form__label"></label>
                    <input type="date"
                           class="form__input"
                           placeholder="Start Date"
                           asp-for="StartDate"
                           id="start-date"
                           required />
                </div>

                <div class="form__group">
                    <label asp-for="EndDate" for="end-date" class="form__label"></label>
                    <input type="date"
                           class="form__input"
                           placeholder="End Date"
                           asp-for="EndDate"
                           id="end-date"
                           required />
                </div>
            </div>

            <div class="form__group">
                <label asp-for="CinemaId" for="cinema" class="form__label"></label>
                <select asp-for="CinemaId"
                       class="form__input"
                       id="cinema"
                       required >
                </select>
            </div>

            <div class="form__group">
                <label asp-for="MovieCategory" for="category" class="form__label"></label>
                <select class="form__input"
                        asp-for="MovieCategory"
                        id="category"
                        required >
                </select>
            </div>

            <div class="form__group">
                <label asp-for="DirectorId" for="director" class="form__label"></label>
                <select asp-for="DirectorId"
                        class="form__input"
                        id="director"
                        required >
                </select>
            </div>

            <div class="form__group">
                <label asp-for="ActorIds" for="actors" class="form__label"></label>
                <select asp-for="ActorIds"
                        class="form__input"
                        id="actors"
                        required
                        multiple >
                </select>
            </div>

            <div class="form__group">
                <label asp-for="Price" for="price" class="form__label"></label>
                <input type="text"
                       class="form__input"
                       asp-for="Price"
                       id="price"
                       required />
            </div>

            <div class="form__group">
                <label asp-for="Description" for="description" class="form__label">Description</label>
                <textarea type="text"
                          class="form__input"
                          placeholder="Description"
                          asp-for="Description"
                          id="description"
                          required></textarea>
            </div>

            <div class="form__btns">
                <button asp-action="Index" class="btn btn--medium btn--rectangle btn--secondary">
                    Show all
                </button>
                <button type="submit" class="btn btn--medium btn--rectangle btn--secondary">
                    Create
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $("#poster").on("change", function () {
            var output = document.getElementById("preview");
            output.src = $(this).val();
        });
    </script>
}