<div class="message--gradient">
    <div class="message__container message__container--gradient">
        <h1 class="heading-secondary message__title--gradient">
            Your Account Was Created Successfully
        </h1>
        <p class="message__comment">You can now log in to your account using your credentials</p>
        <p class="message__comment">Thank you!</p>
    </div>
</div>